<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% include 'layout/head.html' %}
    <title>Document</title>
</head>
<body class="bg-gray-500 w-10/12 mx-auto h-full">
    {% include 'layout/header.html' %}
    <main class="min-h-[90vh]">
        {% include 'components/product-list.html' %}
        {% block content %}{% endblock %}
    </main>
    {% include 'layout/footer.html' %}
    <script src="{% static 'JS/product/update_category.js' %}"></script>
    <script src="{% static 'JS/product/product_show.js' %}"></script>
    <script src="{% static 'JS/utils.js' %}"></script>
    <script src="{% static 'JS/account/login.js' %}"></script>
    <script src="{% static 'JS/account/register.js' %}"></script>
    <script src="{% static 'JS/account/logout.js' %}"></script>
    <script>
                        
    </script>
    {% block extra_body %}{% endblock %}

</body>
</html>
