{% extends '_base.html' %}
{% block content %}
    <section class="flex gap-[5vh] mx-7 mt-[5vh]">
        <div class="w-[120vh]">
            <p class="font-bold text-black">List</p>
            <div id="products-list" class="grid grid-cols-5 gap-5 mt-10 ml-2 justify-items-center"></div>
        </div>
        <div id="filter-section">
            <p class="font-bold text-black">Filter</p>
        </div>
    </section>
    <section class="grid grid-cols-5 gap-5 mt-10 ml-4 justify-items-center">
        {% for product in data %}
            <button onclick="productShow({{ product.id }})" type="button" class="border-[3px] border-green-500 rounded-lg text-white">
                {% if product.images %}
                    <img id="img-{{ product.id }}" src="{{ product.images.0.image }}" alt="{{ product.images.0.alt }}" class='size-full rounded-md'>
                {% else %}
                    <img id="img-{{ product.id }}" src="/media/product/images/noimage.png" alt="noimage" class='size-full rounded-md'>
                {% endif %}
                <p class="my-2">{{ product.name }}</p>
                <p>{{ product.price }}</p>
            </button>
        {% endfor %}
    </section>
{% endblock %}