{% extends '_base.html' %}
{% block content %}
    <section class="grid grid-cols-5 gap-5 mt-10 ml-2 justify-items-center">
        {% for product in data %}
            <button onclick="productShow({{ product.id}})" type="button" class="border-[3px] border-green-500 rounded-lg text-white">
                {% if product.images %}
                    <img id="img-{{ product.id }}" src="{{ product.images.0.image }}" alt="{{ product.images.0.alt }}" class='size-full rounded-md'>
                    {% else %}
                    <img id="img-{{ product.id }}" src="/media/product/images/noimage.png" alt="noimage" class='size-full rounded-md'>
                {% endif %}
                <p class="my-2">{{ product.name }}</p>
                <p>{{ product.price }}</p>
            </button>
        {% endfor %}
    </section>
{% endblock %}