<section id="product-show" class="flex flex-row-reverse gap-[5vh] m-[6vh] h-[35vh] text-white bg-gray-400 p-7 rounded-lg hidden"></section>
<section id="products-show" class="flex gap-[5vh] mx-7 mt-[5vh] hidden">
    <div class="w-[120vh]">
        <p class="font-bold text-black">List</p>
        <div id="products-list" class="grid grid-cols-5 gap-5 mt-10 ml-2 justify-items-center"></div>
    </div>
    <div id="filter-section">
        <p class="font-bold text-black">Filter</p>
    </div>
</section>